[submodule "pinn"]
	path = pinn
	url = git@github.com:insperatum/pinn.git
[submodule "pregex"]
	path = pregex
	url = git@github.com:insperatum/pregex.git
[submodule "vhe"]
	path = vhe
	url = git@github.com:insperatum/vhe.git
[submodule "ec"]
	path = ec
	url = git@github.com:ellisk42/ec.git
[submodule "program_synthesis"]
	path = program_synthesis
	url = git@github.com:mtensor/program_synthesis.git
